<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu rounded-0 bg-light" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item" data-submenu-id="beauty">
                        <a href="#">Beauty & Health</a>
                        <div id="beauty" class="popover rounded-0">
                            <h3>Explore Beauty & Health</h3>

                        </div>
                    </li>
                    <li class="dropdown-item" data-submenu-id="electronics">
                        <a href="#">Electronics</a>
                        <div id="electronics" class="popover rounded-0">
                            <h3>Explore Electronics</h3>

                        </div>
                    </li>
                    <li class="dropdown-item" data-submenu-id="books">
                        <a href="#">Books</a>
                        <div id="books" class="popover rounded-0">
                            <h3>Explore Books</h3>

                        </div>
                    </li>
                    <li class="dropdown-item" data-submenu-id="clothing">
                        <a href="#">Clothing & Jewelry</a>
                        <div id="clothing" class="popover rounded-0">
                            <h3>Explore Clothing & Jewelry</h3>

                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>